$u: 8px;

@mixin gradient($sy, $sc, $ey, $ec) {
	background-image: -moz-linear-gradient(top, $sc percentage($sy / 100), $ec percentage($ey / 100));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop($sy / 100, $sc), color-stop($ey / 100, $ec));
}

@mixin radius($r) {
	border-radius: $r;
	-moz-border-radius: $r;
	-webkit-border-radius: $r;
}

article {
	@include radius($u);
	background-color: white;
	padding: 0 $u;
}

body {
	background-color: #ddd;
	color: #333;
}

section {
	left: 50%;
	margin-left: $u * -30;
	position: absolute;
	width: $u * 60;
}

.clearfix {
	⁄zoom:1;
	display: block;
}

.clearfix:after {
	clear: both;
	content: '';
	display: block;
}

.question {
	float: left;
	padding: 0 $u;
	width: $u * 42;
}

.ruby_version {
	@include radius($u);
	@include gradient(0, #ffc9c9, 88, #de1111);
	float: right;
	height: $u * 3;
	padding: 0 $u;
	width: $u * 12;
}
